@model e_Estoque.App.ViewModels.Customer.CustomerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit a Customer</h1>

<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <h3>Data</h3>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocId" class="control-label"></label>
                <input asp-for="DocId" class="form-control" />
                <span asp-validation-for="DocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label hidden asp-for="IdCustomerAddress" class="control-label"></label>
                <input hidden asp-for="IdCustomerAddress" class="form-control" />
                <span hidden asp-validation-for="IdCustomerAddress" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label hidden asp-for="Id" class="control-label"></label>
                <input hidden asp-for="Id" class="form-control" />
                <span hidden asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label hidden asp-for="CreatedAt" class="control-label"></label>
                <input hidden asp-for="CreatedAt" class="form-control" />
                <span hidden asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label  hidden asp-for="UpdatedAt" class="control-label"></label>
                <input hidden  asp-for="UpdatedAt" class="form-control" />
                <span hidden asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label hidden asp-for="DeletedAt" class="control-label"></label>
                <input hidden asp-for="DeletedAt" class="form-control" />
                <span hidden asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>

        </div>

        <div class="col-md-4">
            <h3>Address</h3>
            <div class="form-group">
                <label asp-for="CustomerAddress.Street" class="control-label"></label>
                <input asp-for="CustomerAddress.Street" class="form-control" />
                <span asp-validation-for="CustomerAddress.Street" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerAddress.Number" class="control-label"></label>
                <input asp-for="CustomerAddress.Number" class="form-control" />
                <span asp-validation-for="CustomerAddress.Number" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerAddress.Complement" class="control-label"></label>
                <input asp-for="CustomerAddress.Complement" class="form-control" />
                <span asp-validation-for="CustomerAddress.Complement" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerAddress.Neighborhood" class="control-label"></label>
                <input asp-for="CustomerAddress.Neighborhood" class="form-control" />
                <span asp-validation-for="CustomerAddress.Neighborhood" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerAddress.District" class="control-label"></label>
                <input asp-for="CustomerAddress.District" class="form-control" />
                <span asp-validation-for="CustomerAddress.District" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Address</h3>
            <div class="form-group">
                <label asp-for="CustomerAddress.City" class="control-label"></label>
                <input asp-for="CustomerAddress.City" class="form-control" />
                <span asp-validation-for="CustomerAddress.City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerAddress.County" class="control-label"></label>
                <input asp-for="CustomerAddress.County" class="form-control" />
                <span asp-validation-for="CustomerAddress.County" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerAddress.ZipCode" class="control-label"></label>
                <input asp-for="CustomerAddress.ZipCode" class="form-control" />
                <span asp-validation-for="CustomerAddress.ZipCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerAddress.Latitude" class="control-label"></label>
                <input asp-for="CustomerAddress.Latitude" class="form-control" />
                <span asp-validation-for="CustomerAddress.Latitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerAddress.Longitude" class="control-label"></label>
                <input asp-for="CustomerAddress.Longitude" class="form-control" />
                <span asp-validation-for="CustomerAddress.Longitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label hidden asp-for="IdCustomerAddress" class="control-label"></label>
                <input hidden asp-for="IdCustomerAddress" class="form-control" />
                <span hidden asp-validation-for="IdCustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="CustomerAddress.Id" class="control-label"></label>
                <input hidden asp-for="CustomerAddress.Id" class="form-control" />
                <span hidden asp-validation-for="CustomerAddress.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="CustomerAddress.CreatedAt" class="control-label"></label>
                <input hidden asp-for="CustomerAddress.CreatedAt" class="form-control" />
                <span hidden asp-validation-for="CustomerAddress.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="CustomerAddress.UpdatedAt" class="control-label"></label>
                <input hidden asp-for="CustomerAddress.UpdatedAt" class="form-control" />
                <span hidden asp-validation-for="CustomerAddress.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="CustomerAddress.DeletedAt" class="control-label"></label>
                <input hidden asp-for="CustomerAddress.DeletedAt" class="form-control" />
                <span hidden asp-validation-for="CustomerAddress.DeletedAt" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
