@model e_Estoque.App.ViewModels.Company.CompanyViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit a Company</h1>

<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <h3>Data</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocId" class="control-label"></label>
                <input asp-for="DocId" class="form-control" />
                <span asp-validation-for="DocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="IdCompanyAddress" class="control-label"></label>
                <input hidden asp-for="IdCompanyAddress" class="form-control" />
                <span hidden asp-validation-for="IdCompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="Id" class="control-label"></label>
                <input hidden asp-for="Id" class="form-control" />
                <span hidden asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="CreatedAt" class="control-label"></label>
                <input hidden asp-for="CreatedAt" class="form-control" />
                <span hidden asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="UpdatedAt" class="control-label"></label>
                <input hidden asp-for="UpdatedAt" class="form-control" />
                <span hidden asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="DeletedAt" class="control-label"></label>
                <input hidden asp-for="DeletedAt" class="form-control" />
                <span hidden asp-validation-for="DeletedAt" class="text-danger"></span>
            </div>

            

           

           

        </div>

        <div class="col-md-4">
            <h3>Address</h3>

            <div class="form-group">
                <label asp-for="CompanyAddress.Street" class="control-label"></label>
                <input asp-for="CompanyAddress.Street" class="form-control" />
                <span asp-validation-for="CompanyAddress.Street" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyAddress.Number" class="control-label"></label>
                <input asp-for="CompanyAddress.Number" class="form-control" />
                <span asp-validation-for="CompanyAddress.Number" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyAddress.Complement" class="control-label"></label>
                <input asp-for="CompanyAddress.Complement" class="form-control" />
                <span asp-validation-for="CompanyAddress.Complement" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyAddress.Neighborhood" class="control-label"></label>
                <input asp-for="CompanyAddress.Neighborhood" class="form-control" />
                <span asp-validation-for="CompanyAddress.Neighborhood" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyAddress.District" class="control-label"></label>
                <input asp-for="CompanyAddress.District" class="form-control" />
                <span asp-validation-for="CompanyAddress.District" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Address</h3>

            <div class="form-group">
                <label asp-for="CompanyAddress.City" class="control-label"></label>
                <input asp-for="CompanyAddress.City" class="form-control" />
                <span asp-validation-for="CompanyAddress.City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyAddress.County" class="control-label"></label>
                <input asp-for="CompanyAddress.County" class="form-control" />
                <span asp-validation-for="CompanyAddress.County" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyAddress.ZipCode" class="control-label"></label>
                <input asp-for="CompanyAddress.ZipCode" class="form-control" />
                <span asp-validation-for="CompanyAddress.ZipCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyAddress.Latitude" class="control-label"></label>
                <input asp-for="CompanyAddress.Latitude" class="form-control" />
                <span asp-validation-for="CompanyAddress.Latitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyAddress.Longitude" class="control-label"></label>
                <input asp-for="CompanyAddress.Longitude" class="form-control" />
                <span asp-validation-for="CompanyAddress.Longitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label hidden asp-for="IdCompanyAddress" class="control-label"></label>
                <input hidden asp-for="IdCompanyAddress" class="form-control" />
                <span hidden asp-validation-for="IdCompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="CompanyAddress.Id" class="control-label"></label>
                <input hidden asp-for="CompanyAddress.Id" class="form-control" />
                <span hidden asp-validation-for="CompanyAddress.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="CompanyAddress.CreatedAt" class="control-label"></label>
                <input hidden asp-for="CompanyAddress.CreatedAt" class="form-control" />
                <span hidden asp-validation-for="CompanyAddress.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="CompanyAddress.UpdatedAt" class="control-label"></label>
                <input hidden asp-for="CompanyAddress.UpdatedAt" class="form-control" />
                <span hidden asp-validation-for="CompanyAddress.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="CompanyAddress.DeletedAt" class="control-label"></label>
                <input hidden asp-for="CompanyAddress.DeletedAt" class="form-control" />
                <span hidden asp-validation-for="CompanyAddress.DeletedAt" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
