
@{
    ViewData["Title"] = "Home";
}


<div class="container">
    <h1>Olá</h1>

    <p>Bem-vindo ao sistema</p>

    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(CarregaDados);

    function CarregaDados() {
        $.ajax({
            url: '@Url.Action("GetInventoryJson", "Inventory")',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                drawChart(data);
                return false;
            }
        });
        return false;
    }

    
    function drawChart(data) {

        var dataArray = [
            ['Product', 'Quantity']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.nameProduct, item.quantity]);
        });

        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
            title: 'Inventory',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }

</script>