@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1>Olá</h1>

    <p>Bem-vindo ao sistema</p>
</div>